body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   background-color: rgb(183, 238, 255);
}

.form-container {
   top: 0;
   left: 0;
   transform: translate(0, 0);
   margin: 0;
   padding-bottom: 0.5rem;
   background-color: rgb(238, 198, 198);
   color: rgb(67, 41, 179);
   font-weight: 800;
}

.form-group {
   padding: 0;
}
